" map 'jk' to <ESC>
imap jk <Esc>

let mapleader = ','

set scrolloff=8         "Start scrolling when we're 8 lines away from margins
set sidescrolloff=15
set sidescroll=1
set clipboard+=unnamed

nmap <leader>L :action RecentLocations<cr>
nmap <leader>g :action GotoDeclaration<cr>
nmap <leader>u :action FindUsages<cr>
nmap <leader>f :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>s :action GotoSymbol<cr>
nmap <leader>a :action SearchEverywhere<cr>
nmap <leader>b :action Blaze.PartialSync<cr>
nmap <leader>r :action Run<cr>
nmap <leader>t :action RerunTests<cr>
nmap <leader>T :action RerunFailedTests<cr>

nmap <leader>i :action GotoImplementation<cr>
nmap <leader>n :action RecentFiles<cr>
nmap <leader>h :action HideAllWindows<cr>
nmap <C-h> :action PrevSplitter<cr>
nmap <C-l> :action NextSplitter<cr>
nmap <C-j> :action Down<cr>
nmap <C-n> :action Down<cr>
nmap <C-p> :action Up<cr>
nmap <C-k> :action Up<cr>
